<div class="item <?php if($isActive) echo 'active'; ?> fixed-height">
<img class="fixed-height" src="<?php echo $img['url']; ?>"  alt="first_side">
    <div class="carousel-caption">
    <h3><span class="label label-default"><?php echo $img['description']; ?></span></h3>
    </div>
</div>

