.accordion-toggle .panel-heading h5:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.accordion-toggle.collapsed .panel-heading h5:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container .checkbox input {
    margin-left: 0px;
}

.container .checkbox label {
    margin-left: 20px;
}

.sidebar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-inner > .item > img {
    margin: auto;
}

.container {
    height: 100%;
}

.fixed-height {
    width:auto;
    height:500px;
    max-height:500px;
}

.panel-default > a > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
